<div align="center">
  <h3>Contact Us!</h3>

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text %>


    <div>
    	<%= f.label :interest1, "Web Development" %>    	
    	<%= f.check_box :interest1, {}, "Web Development", nil %>
    </div>

    <div>
    	<%= f.label :interest2, "Full Stack" %> 
      <%= f.check_box :interest2, {}, "Full Stack", nil %>
    </div>

    <div>
    	<%= f.label :interest3, "Back End" %>    
  		<%= f.check_box :interest3, {}, "Back End", nil %>
    </div>

    <div>
    	<%= f.label :interest4, "Something Else" %>
      <%= f.check_box :interest4, {}, "Something Else", nil %>
    </div>

    <div>
    	<%= f.label :interest5, "Portfolio Review" %>
      <%= f.check_box :interest5, {}, "Portfolio Review", nil %>
    </div>

    <div>
    	<%= f.label :interest6, "Another Thing" %>    	
      <%= f.check_box :interest6, {}, "Another Thing", nil %>
    </div>

    <div>
      </br>
      <%= f.button :submit, 'Send!', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>